package 
{
	<% all_tests.each do |test| %>
	<%= "import #{test[:package_name]}.#{test[:class_name]}" %>
	<% end %>
	import asunit.framework.TestSuite;
	
    public class AllTests 
	{	
		public function AllTests()
        {
            <% all_tests.each do |test| %>
            <%= "addTest( new #{test[:package_name]}.#{test[:class_name]}());" %>
            <% end %>
        }
    }
}
