package 
{
    import asunit.core.TextCore;
    import flash.display.MovieClip;

    public class <%= class_name %> extends MovieClip 
	{
        protected var core:TextCore;

        public function <%= class_name %>() 
		{
            core = new TextCore();
            core.start(AllTests, null, this);
        }
    }
}

