package 
{
    [Suite]
    public class AllTests 
	{
        <% all_tests.each do |test| %>
        <%= "import #{test[:package_name]}.#{test[:class_name]}" %>
        <% end %>

		public function AllTests()
        {
            <% all_tests.each_with_index do |test, index| %>
            <%= "var #{test[:class_name].gsub(/\B[A-Z]/, '_\&').downcase}_#{index}:#{test[:package_name]}.#{test[:class_name]};" %>
            <% end %>
        }
    }
}
