package 
{
    [Suite]
    public class AllTests 
	{
        <% all_tests.each do |test| %>
        <%= "import #{test[:package_name]}.#{test[:class_name]}" %>
        <% end %>

		public function AllTests()
        {
            <% all_tests.each do |test| %>
            <%= "addTest( new #{test[:class_name]}());" %>
            <% end %>
        }
    }
}
